@using Domain.Services
@using Domain.Entities
@using Domain.Extensions
@page "/newgame/gamepage"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="container">
  <div class="title-container">
    <div class="title-group">
      <h1>Kanji King</h1>
      <h2>Radicals Game</h2>
    </div>
    <div class="stats-group">
      <span>Rounds: @currentRound / @totalRounds</span>
      <span>Mistakes: @mistakesDone / @mistakesAllowed</span>
    </div>
  </div>
  <div class="element-group">
    <h3>@Kanji</h3>
    <div class="input-row">
      <label for="hiragana-textbox">Hiragana: </label>
      <input type="text" id="hiragana-textbox" @bind="hiraganaInput" disabled="@hiraganaIsDiasble">
      <span>@hiraganaMark</span>
    </div>
    <div class="input-row">
      <label for="english-textbox">English: </label>
      <input type="text" id="english-textbox" @bind="englishInput" disabled="@englishIsDiasble">
      <span>@englishMark</span>
    </div>
    <button @onclick="OnClick_CheckAnswer">Check</button>
  </div>
</div>
<Audio @ref="audioComponent"/>

@code{

    Audio audioComponent;
    string GameLevel;
    string Kanji;
    bool englishIsDiasble; 
    bool hiraganaIsDiasble; 
    bool firstAnswer; 
    string hiraganaInput; 
    string englishInput; 
    string hiraganaMark; 
    string englishMark;
    int totalRounds;
    int currentRound;
    int mistakesAllowed;
    int mistakesDone;
    Game game;
    int currentGroupId;
    int currentSubGroupId;
    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        string gameLevel = query["gameLevel"];
        string gameType = query["gameType"];
        List<GameData> gamesData = await DataBaseService.GetGamesData(HttpClient);
        Result result = GamePageService.GetNewGameByType(gameType, gamesData);
        if(!result.seccuss)
        {
            HandleDataFailure();
            return;
        }
        game = (result.Entity as Game)!;
        mistakesAllowed = GetMistakesAllowed(gameLevel);
        currentGroupId = game.CurrentGroupId;
        InitializedPage();
    }

    private int GetMistakesAllowed(string gameLevel) => gameLevel switch 
    {
        "1" => 100,
        "2" => 50,
        "3" => 10,
        _ => throw new Exception($"not valid game level: {gameLevel}") 
    };

    private void HandleDataFailure()
    {

    }

    private void InitializedPage()
    {
        mistakesDone = 0;
        currentRound = 1;
        RefreshPage(false); 
    }

    private async void RefreshPage(bool IsRight)
    {
        Result result = GamePageService.GetNextRound(IsRight, game);
        if(!result.seccuss)
        {
            HandleDataFailure();
        }
        else
        {
            game = (result.Entity as Game)!;
            if(game.IsOver)
            {
                GameOver();
            }
            else
            {
                if(currentGroupId != game.CurrentGroupId)
                {
                    AnnounceNewGroup();
                    StateHasChanged();
                    await Task.Delay(1700);
                    currentGroupId = game.CurrentGroupId;
                }
                if(currentSubGroupId != game.CurrentSubGroupId)
                {
                    totalRounds = game.GetSubGroupAmountOfRounds();
                    currentSubGroupId = game.CurrentSubGroupId;
                    currentRound = 1;
                }
                firstAnswer = true;
                Kanji = game.CurrentRound.Kanji;
                englishIsDiasble = true;
                hiraganaIsDiasble = false;
                englishInput = string.Empty;
                hiraganaInput = string.Empty;
                hiraganaMark = "?";
                englishMark = "?";          
            }
            StateHasChanged();
        }
        
    }

    public async void OnClick_CheckAnswer()
    {
        if(firstAnswer)
        {
            if(hiraganaInput != game.CurrentRound.Hiragana)
            {
                hiraganaIsDiasble = true;
                hiraganaMark = "✗";
                AnnounceWrongAnswer(game.CurrentRound.Hiragana);
                mistakesDone++;
                await PlaySound($"{game.CurrentRound.Sound}.mp3");
                await Task.Delay(2000);
                RefreshPage(false);
            }
            else
            {
                englishIsDiasble = false;
                hiraganaIsDiasble = true;
                hiraganaMark = "✓";
                firstAnswer = false;
                await PlaySound($"{game.CurrentRound.Sound}.mp3");
            }
        }
        else
        {
            if(englishInput != game.CurrentRound.English)
            {
                englishIsDiasble = true;
                englishMark = "✗";
                AnnounceWrongAnswer(game.CurrentRound.English);
                mistakesDone++;
                await PlaySound($"{game.CurrentRound.Sound}.mp3");
                await Task.Delay(2000);
                firstAnswer = true;
                RefreshPage(false);
            }
            else
            {
                englishIsDiasble = true;
                englishMark = "✓";
                await PlaySound($"{game.CurrentRound.Sound}.mp3");
                currentRound++;
                await Task.Delay(2000);
                firstAnswer = true;
                RefreshPage(true);
            }
        }
    }

    private void AnnounceNewGroup()
    {
        Kanji = "Good job! Moving to the next group!";
    }

    private void AnnounceWrongAnswer(string correctAnswer)
    {
        Kanji = $"The correct answer is - {correctAnswer}";
    }

    private async Task PlaySound(string audioUrl)
    {
        await audioComponent.Play(audioUrl);
    }

    private void GameOver()
    {
        Kanji = "GameOver!";
    }
}    
